@charset "gb2312";
/**/
.first-header{
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
}
.first-header a{
    color: #fff;
    font-weight: 500;
}
.first-header a:hover{
    text-decoration: none;
    color: rgba(136, 170, 113, 0.66);
}
.logo a{
    color: #fff;
}
/**/
.secondHeader{
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
}
.secondHeader a{
    color: #fff;
    letter-spacing: 2px;
}
.secondHeader:hover{
}
.secondHeader:hover a{
    color: #fff;
}
.secondHeader a:hover{
    background-color: inherit;


}
.shoppingcart{
}
    /*header*/
.header-search{
    margin-left: 10px;
}
.header-search input{
    background-color: inherit;
    border-color: #fff;
    color: #000;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 10px;
}
.header-search input:focus{
    border-color: #fff;
}
.header-search button{
    background-color: inherit;
    border-color: #fff;
    color: #fff;
    font-weight: 500;
}
.header-search button:hover{
    background-color:#fff;
    color: #000000;
    font-weight: 600;
}
.header-search a:hover{
    text-decoration: none;
}
.secondHeader:hover .header-search{
    border-color: rgba(64, 51, 33, 0.89);
    color: rgba(64, 51, 33, 0.89);
}

/**/
.main{
    width: 100%;
}
.text-Style{
    color: #66512c;
}
.search-logo{
    padding-top: 2%;
}
.icon-search{
    float: right;
    width: 15px;height: 15px;
    border-radius: 100%;
    border:2px solid currentcolor;
    position: relative;
    margin:0px auto;
    color: rgba(131, 131, 131, 0.8);
}
.icon-search:after{
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width:8px;
    height: 2px;
    position: absolute;
    top:12px;
    left:10px;
    background-color: currentcolor;
    color: rgba(131, 131, 131, 0.8);
}
.wrap{
    background:inherit;
    margin: 0px;
    width: 100%;
}
/*
shoppingcart
*/
.spmain{
    width: 100%;
}
.headerTitle a{
    color: #8da36b;
    font-weight: 600;
    font-size: 26px;
    float: left;
    padding-bottom:30px;
}
.headerTitle a:hover{
    text-decoration: none;
}
.menu-style>ul> li{
    display: inline;
}
.menu-style>ul>li>a{
    color: #8da36b;
    font-weight: 600;
}
.menu-style>ul>li>a:hover{
    color: rgba(216, 249, 164, 0.86);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.42);
}
.menu-style>ul>li>a:visited{;
    text-decoration: none;
}
.ul1{
    padding: 0px;
}
.ul1>li{
    display: inline;
}
.btn-primary-new {
    background: rgba(38, 80, 91, 0.65);
    border: 0;
    border-radius: 2px;
    padding: 1em 2.5em .9em;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

/*header*/
.header_home li{
    color: #8da36b;
    border-color: inherit;
}
.spshow{
    width: 30%;
}
.left-menu{
    width: 20%;
    float: left;
}
.rigth-form{
    width: 80%;
    float: left;
}
.rigth-form a{
    color: black;
}
.rigth-form a:hover{
}
.sc-bottom{
    float: right;
    margin-right: 10%;
}
.sc-button{
    background-color: inherit;
    border:1px black solid;
    border-radius: 10px;
    color: black;
}
.sc-button:hover{
    background-color: black;
    color: white;
    font-weight: 600;
}
/*signup-login*/
.describe{
    float: left;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}
.ls-form{
    width: 30%
}
.button-div{
    width: 40%;
}
.button-div-sigle{
    width: 20%;
    margin-left: 0px;
}
.selectNew{
    width: 30%;
    height: 5%;
    border-radius: 14px;
    text-align: right;
    background: transparent;
}
.selectNew:focus{
    border-color: black;
}
.button-active{
    background-color: black;
    border-radius: 20px;
    width: 90%;
    border-color: black;
    font-weight: 600;
}
.button-a{
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    color: black;
    border: none;
}
.col-xs-4{
    text-align: center;
}
.col-xs-4:hover a{
    text-decoration: none;
}
.button-active:hover{
    background-color: black;
    color: #fff;
    border-color: black;
}
.button-a:hover{
    background-color: inherit;
    color: black;
    border-color: black;
}
button-a:focus{
    background-color: inherit;
}
/*changeInformation*/
.input1[type="text"]:disabled{
    background-color: #cccccc;
}
.changeInformation-ladda-labe{
    max-width: 130%;
    text-align: center;
}
/*newLogin*/
.login-main{
	
}
.login-left-image{
    width: 400px;
    height: 100%;
    background: url('../image/login.jpg')no-repeat 0px 0px ;
    background-size: 100% 100%;
    position: fixed;
}
.sign-left-image{
    width: 400px;
    height: 100%;
    background: url('../image/signup.jpg')no-repeat 0px 0px ;
    background-size: 100% 100%;
    position: fixed;
}
.modify-left-image{
	width: 400px;
	height: 100%;
    background: url('../image/modify.png')no-repeat 0px 0px ;
    background-size:100% 100%;
    position: fixed;
}
.modify-success{
    width: 400px;
    margin-top: 70%;
    margin-left: 430px;
    font-size: 43px;
    color: rgba(5, 66, 95, 0.62);
}
.login-success{
    width: 400px;
    margin-top: 70%;
    margin-left: 430px;
    font-size: 20px;
    color: rgba(31, 95, 73, 0.62);
}
.login-right-main{
    margin-left: 400px;
}
.upgrade-tips{
    height: 70px;
    width: 100%;
}
.upgrade-tips>.upgrade-tips-right{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.upgrade-tips>.upgrade-tips-right >a{
    margin-left: 10px;
    color: #767676;
    transition: .3s;
    cursor: pointer;
}
.upgrade-tips>.upgrade-tips-right >a:hover {
    text-decoration: none;
    color: #000;
}
.upgrade-tips>.upgrade-tips-right >a:focus {
    text-decoration: none;
}
.login-right{
    margin-left: 400px;
    width: 100%;
}
.login-right-main > .form{
    width: 350px;
    margin: 0px auto;
}
.login-right-main > .form >.input>.form-group>.form-control{
    height: 45px;
    margin-top: 30px;
    font-size: 20px;
}
.login-right-main > .form >.input>.form-group>.form-control{
    height: 45px;
    margin-top: 30px;
    font-size: 17px;
    border:  .1em solid rgba(189, 189, 189, 0.82);
}

.login-right-main > .form >.input>.form-group>.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #b8b8b8;
}
.login-right-main > .form >.input>.form-group>.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;
}
.login-right-main > .form >.input>.form-group>.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999;
}
.login-right-main > .form >.input>.form-group>.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;
}
.login-right-main>.form>.login-title{
    margin-bottom: 30px;
}
.login-right-main>.form>.login-title>.welcome{
    font-size: 30px;
}
.login-right-main>.form>.login-title>.header{
    font-size: 17px;
}
.login-right-main>.form>.log-button>.submit{
    border: 0px;
    color: #fff;
    font-size: 18px;
    background-color: rgba(62, 118, 85, 0.58);
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}
.login-right-main>.form>.log-button>.submit:hover{
    background-color: rgba(45, 90, 63, 0.58);
}
.login-right-main>.form>.input>.form-group>.form-control:focus {
    border-color: rgba(22, 71, 90, 0.58);
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}
/*sign
*/
.login-right-main>.form>.sign-button>.submit{
    border: 0px;
    color: #fff;
    font-size: 18px;
    background-color: rgba(31, 102, 133, 0.56);
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}
.login-right-main>.form>.sign-button>.submit:hover{
    background-color: rgba(30, 92, 122, 0.6);
}
.footer{
    text-align: center;
    color: #8f8f8f;
    margin-top: 70px;
}
.has-feedback>.select{
    width:350px;
    height:50px;
    border:  .1em solid rgba(189, 189, 189, 0.82);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: transparent;
}
.input-error{
    margin-left: 7px;
    margin-top: 10px;
	color: #f55757;
	font-size: 14px;
	display:none
}
.input-tip{
    margin-left: 7px;
	margin-top: 10px;
	color: rgba(60, 60, 60, 0.69);
	font-size: 14px;
	display:none
}
.input1:focus{
    outline:none;
}

.page-control{
	display:block;
	float:left;
}

/* 

历史订单

 */
.chakan-a{
	color: white;
    font-weight: 500;
}
.chakan-a:hover{
	color:white;
}
.chakan-b{
	border: 1px solid rgba(54, 114, 130, 0.65);
    background-color:rgba(38, 80, 91, 0.65) ;
    border-radius: 4px;
    color: white;
}
.chakan-b:hover{
	color:white;
}
.jiesuan{
	margin-top:40px;
	border: 0px;
    background-color:rgba(38, 80, 91, 0.65) ;
    height:40px;
    width:100px;
    border-radius: 4px;
    color: white;
}
.jiesuan:hover{
	color:white;
}
.modal-historyItem{
    padding-bottom: 30px;
}
.btn-primary{
  padding-bottom: 7px;padding-left: 20px;padding-top: 10px;padding-right: 20px;
}
.btn-his{
    border: 0px;
    background-color: rgba(38, 89, 100, 0.65);
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: white;
    font-weight:500;
}
.btn-his:hover{
    border: 0px;
    background-color: rgba(38, 80, 91, 0.65);
    color: white;
    font-weight:500;
}
.margin-top7{
	margin-top:7%;
}
.footer-top{
	margin-top: 40px;
}
/*

    orderItem

*/