<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				            http://www.springframework.org/schema/beans/spring-beans.xsd
				            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
				            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
				            http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<!-- <jaxws:server>发布SOAP协议的服务，对JaxWsServerFactoryBean类的封装 -->
	<!-- http://127.0.0.1:8087/ws-fruitshop-order/ws/order?wsdl -->
	<!-- tomcat已经定义了地址和端口 -->
	<jaxws:server address="/order"
		serviceClass="com.order.service.OrderServiceInterface">
		<jaxws:serviceBean>
			<ref bean="orderServiceInterface"></ref>
		</jaxws:serviceBean>
	</jaxws:server>


	<!-- 配置服务实现类 -->
	<bean name="orderServiceInterface" class="com.order.service.impl.OrderServiceInterfaceImpl"></bean>


	<!-- 配置fruit服务 -->
	<!-- http://127.0.0.1:8084/ws-fruitshop-fruit/ws/fruit -->
	<jaxws:client id="fruitServiceClient2"
		address="http://127.0.0.1:8084/ws-fruitshop-fruit/ws/fruit2"
		serviceClass="com.fruit.service2.FruitServiceInterface2" />
		




</beans>

